{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}" />

<div class="container">
  <h2>Отзывы</h2>
  <form
    autocomplete="off"
    action="{% url 'review' %}"
    method="post"
    class="form"
  >
    {% csrf_token %}
    <label for="fullName">ФИО</label>
    <input name="fullName" type="text" />
    <label for="email">Email</label>
    <input name="email" type="text" />
    <label for="text">Текст отзыва</label>
    <textarea name="text" type="text"></textarea>

    <button type="submit">Отправить</button>
  </form>
  <div class="list">
    {% for review in reviews %}
    <div class="row">
      <div>Имя: {{ review.fullName }}</div>
      <div>Отзыв: {{ review.text }}</div>
    </div>
    {% endfor%}
  </div>
</div>
{% endblock %}
